@import "tailwindcss";

* {
    font-family: "Oswald", sanf-serif;
}

html {
    scroll-behavior: smooth;
}

.alert {
    visibility: hidden;
}

@media (orientation: portrait)
{
    .alert {
            visibility: visible;
    }
}
